.home-bg {
    background-image: url(../img/daisies-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    position: absolute;
    top: 5vh;
    left:5vw;
    z-index:10;
    height: 90vh;
    width: 90vw;
    background: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 0;
}


/* User info section */

.userinfo-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background:lightblue;
    border-radius: 10px 0 0 0;
    margin: 0;
    padding: 0;
}

.greeting-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1em;
}

.greeting {
    font-size: 1.1em;
    text-align: left;
}

.signout{
    font-size: 1.1em;
    text-align: right;
}

.user-details {
    display: flex;
    align-items: center;
}

.user-details > img {
    width: 15%;
    padding: 0 1em;
}

.user-details > h1 {
    font-size: 2em;
}



/* Projects info section */

.projectsinfo-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 8;
    background: lightgreen;
    border-radius: 0 0 0 10px;
}

.add-project-btn {
    height: 2.1em;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

.add-project-btn > img {
    height: 140%;
    vertical-align: middle;
    padding: 0 0.2em ;
}


.search-project {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 2em;
    padding: 0.5em;
    margin: 0 1em 0.5em 1em;
}

.search-icon {
    width:30%;
    height: 30%;
    cursor: pointer;
}

.project-list {
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-content: center;
    align-items: center;
}

.project-list > button {
    height: 2em;
    margin-left: auto;
    margin-right: 2em;
    border-radius: 7px;
}

.project-list:nth-child(odd){
    background: rgba(50, 205, 50, 0.7)
}

.project-titles{
    margin:0;
    line-height: 2em;
    font-size: 1.3em;
    cursor: pointer;
}

/* Add project section */


.add-project-container {
    background: #fff;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}

.add-project-container > h1 {
    margin-top: 5em;
}

.add-project-container > form {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-gap: 0.5em;
    text-align: left;
}

.add-project-container > form > label, textarea, button {
    grid-column: 2;
}

.add-project-container > form > label > input {
    margin-left: 1em;
    grid-column-end: 3;
}

/* Quote section */

.quote-container {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quote {
    background: rgba(0, 0, 0, 0.7);
    font-size: 2em;
    color: #fff;
    border-radius: 5px;
    padding: 0.5em;
    margin: 2em;
}


/* Selected project section */
.selected-project {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    background: pink;
    border-radius: 0 10px 10px 0;
}

.selected-project > header {
    height: 5%;
    font-size: 2em;
    margin: 0;
    padding: 0.5em;
    border-radius: 0 10px 0 0;
}

.add-todo {
    text-align: left;
    height: 2em;
    grid-column: 1/2;
    grid-row: 1/2;
    display:grid;
    grid-template-columns: 4fr 1fr;
}

.project-container {
    display: grid;
    height: 85%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 95%;
    grid-gap: 1em;
    padding: 2em;
}

.task-container {
    background-color: lightgreen;  
    border-radius: 10px;
}

.todo-container{
    grid-column: 1/2;
}

.inprogress-container{
    grid-column: 2/3;
}

.finished-container{
    grid-column: 3/4;
}

.subtitle{
    border-bottom: 2px solid black;
    font-size:1.2em;
}

.task {
    text-align:left;
    font-size: 1.2em;
    margin: 0 2em;
}

.task-container > button {
    margin-top: 2em;
    border-radius: 5px;
    height: 2em;
}