.formContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* SignIn form */
.formContainer form{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.formContainer form >input {
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.formContainer form > button {
    height:2em;
}


/* Redirect to signup */
.signupRedirect {
    margin-top:2em;
    display: flex;
}

.signupRedirect > p {
    padding-right: 1em;
}

.signupRedirect > button {
    height: 2em;
    align-self: center;
}

