.signin-container {
    height: 100vh;
}

.signin-container > header {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    color:#333;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(165, 165, 165, 0.7);
    -moz-box-shadow: 0px 6px 5px 0px rgba(165, 165, 165, 0.7);
    box-shadow: 0px 6px 5px 0px rgba(165, 165, 165, 0.7);
    position: relative;
    z-index: 2;

}

.signin-container > header > h1 {
    font-size: 2.5em;
    margin-bottom: 1.3em;
    border-bottom: 2px solid #333;
}

.signin-container > header > p {
    padding: 0.2em 0;
    margin: 0;
    font-size: 1.2em;
}


.formContainer {
    height: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:  #f5dfdf;
}

/* SignIn form */
.formContainer form{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.formContainer form >input {
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.formContainer form > button {
    height:2em;
}


/* Redirect to signup */
.signupRedirect {
    margin-top:2em;
    display: flex;
}

.signupRedirect > p {
    padding-right: 1em;
}

.signupRedirect > button {
    height: 2em;
    align-self: center;
}

